<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link th:href="@{/style/topbar.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/fragments :: topbar"></div>
<div>
    <form method="post" th:action="@{/products/clearCart}">
        <button type="submit">Clear cart</button>
    </form>
    <br/>
    <div th:each="cartElement: ${cart}">
        <a th:href="@{'/products/' + ${cartElement.id}}" th:text="${cartElement.name}"></a>
        <div th:text="${cartElement.amount}"></div>
        <div th:text="${cartElement.price}"></div>
        <div th:text="${cartElement.description}"></div>
        <div th:each="type: ${cartElement.types}">
            <div th:text="${type}"></div>
        </div>
        <form method="post" th:action="@{'/products/removeProductFromCart?id=' + ${cartElement.id}}">
            <button type="submit">Remove from cart</button>
        </form>

        <br/>
    </div>
    <div th:text="${sum}"></div>
    <form th:if="${cart.size() > 0}" method="post" th:action="@{/products/buyCart}">
        <button type="submit">Buy</button>
    </form>

</div>
</body>
</html>