<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link th:href="@{/style/topbar.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/fragments :: topbar"></div>
    <div th:text="${productData.name}"></div>
    <div th:text="'Amount: ' + ${productData.amount}"></div>
    <div th:text="'Price: ' + ${productData.price}"></div>
    <div>Description: </div>
    <div th:text="${productData.description}"></div>
    <div>Categories: </div>
    <ul th:each="category: ${productData.types}" th:text="${category}"></ul>

    <form th:if="${productData.amount > 0}" method="post" th:action="@{'/products/addProductToCart?id=' + ${productData.id}}">
        <input type="number" name="amount" th:min="1" th:max="${productData.amount}">

        <button type="submit">Add product to cart</button>
    </form>

    <br/>
    <br/>
    <div>Update product</div>
    <form th:method="put" th:object="${productData}" th:action="@{'/products/update?id=' + ${productData.id}}">

        <label>
            Amount:
            <input th:type="number" th:min=0 th:field="*{amount}" th:value="product.amount">
        </label>
        <br>
        <label>
            Price:
            <input th:type="number" min=0 th:step="0.01" th:field="*{price}" th:value="product.price">
        </label>
        <br>
        <label>
            Description:
            <br>
            <input th:type="text" th:field="*{description}">
        </label>
        <br>
        <label>
            Types:
            <select th:field="*{types}" multiple="multiple">
                <option th:each="type : ${typeData}"
                        th:value="${type.name}"
                        th:text="${type.name}">
                </option>
            </select>
        </label>
        <br>
        <button type="submit">Update</button>
    </form>
</div>
</body>
</html>