<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style/topbar.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/fragments :: topbar"></div>
<div th:each="product: ${products}">
    <a th:href="@{'/products/' + ${product.id}}" th:text="${product.name}"></a>
    <div th:text="'Amount: ' + ${product.amount}"></div>
    <div th:text="'Price: ' + ${product.price}"></div>
    <div>Description: </div>
    <div th:text="${product.description}"></div>
    <div>Categories: </div>
    <ul th:each="category: ${product.types}" th:text="${category}"></ul>
    <span th:if="${admin==true}">

        <form th:method="delete" th:action="@{'/products/delete?id=' + ${product.id}}">
            <button type="submit">Delete</button>
        </form>
    </span>
    <br/>
</div>
</body>
</html>