<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style/topbar.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/fragments :: topbar"></div>
<div>
    <div>
        <div>
            <p>Add a new product</p>

            <form action="#" th:action="@{/products/addProduct}" th:object="${productData}" method="post">
                <div>
                    <input type="text" th:field="*{name}" placeholder="Name"
                           th:errorclass="is-invalid">

                    <div>
                        <div>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="text" th:field="*{description}" placeholder="Description"
                           th:errorclass="is-invalid">
                </div>
                <div>
                    <input type="number" th:field="*{amount}" placeholder="Amount"
                           th:errorclass="is-invalid">

                </div>
                <div>
                    <select class="form-control" th:field="*{types}" multiple="multiple">
                        <option th:each="type : ${typeData}"
                                th:value="${type.name}"
                                th:text="${type.name}">Name of type
                        </option>
                    </select>
                </div>
                <div>
                    <input type="number" step="0.01" th:field="*{price}" placeholder="Price"
                           th:errorclass="is-invalid">
                </div>
                <div>
                    <input type="submit">
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>