<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add type</title>
    <link th:href="@{/style/topbar.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/fragments :: topbar"></div>
<div>
    <div>
        <div>
            <p>Add a new type</p>

            <form action="#" th:action="@{/products/addType}" th:object="${typeData}" method="post">
                <div>
                    <input type="text" th:field="*{name}" placeholder="Name"
                           th:errorclass="is-invalid">
                </div>
                <div>
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>