.order-bar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.order-bar div {
    text-align: center;
    padding: 14px 16px;
    color: #640404;
}
.order-bar a:hover {
    background-color: #ababab;
    color: #ab3434;
}
