/* Add a black background color to the top navigation */
.topbar {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topbar a:hover {
    background-color: #ddd;
    color: #ab3434;
}

/* Add a color to the active/current link */
.topbar a.active {
    background-color: #e8fa00;
    color: white;
}