<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link th:href="@{/style/topbar.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/fragments :: topbar"></div>
<div th:text="${userData.email}"></div>
<div th:text="${userData.name}"></div>
<div th:text="${userData.surname}"></div>
<div th:text="${userData.date}"></div>
<div th:if="${#strings.equals(user.role, 'ADMIN')}">
    <div th:text="${userData.role}"></div>
    <form th:method="put" th:object="${userData}" th:action="@{'/user/' + ${userData.id}}">
        <input type="hidden" th:value="${userData.email}" th:field="*{email}">
        <select th:field="*{role}">
            <option value="ADMIN">Admin</option>
            <option value="USER">User</option>
        </select>
        <input type="text" th:field="*{name}">

        <button type="submit">Update user</button>
    </form>
    <form th:method="delete" th:action="@{'/user/' + ${userData.id} + '/delete'}">
        <button type="submit">Delete user</button>
    </form>
</div>
<br/>
<form th:unless="${#strings.equals(user.role, 'ADMIN') || (user.id != userData.id)}" th:method="put" th:object="${userData}" th:action="@{'/user/' + ${userData.id}}">
    <div>User name</div>
    <input type="text" th:field="*{name}">
    <input type="hidden" th:value="${userData.email}" th:field="*{email}">
    <button type="submit">Update username</button>
</form>

</div>
</body>
</html>