<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link th:href="@{/style/topbar.css}" rel="stylesheet">
    <link th:href="@{/style/order_bar.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/fragments :: topbar"></div>
<div class="order-bar" style="display: flex;">
    <div>Order: </div>

    <a href="/users?order=NAME_ASC" style="display: flex">Name asc</a>
    <a href="/users?order=NAME_DESC" style="display: flex">Name desc</a>
    <a href="/users?order=DATE_ASC" style="display: flex">Date asc</a>
    <a href="/users?order=NAME_ASC" style="display: flex">Date desc</a>
    <a href="/users?order=EMAIL_ASC" style="display: flex">Email asc</a>
    <a href="/users?order=EMAIL_DESC" style="display: flex">Email desc</a>

</div>
<div th:each="user: ${users}">
    <div th:text="${user.email}"></div>
    <div th:text="${user.name}"></div>
    <div th:text="${user.surname}"></div>
    <div th:text="${user.date}"></div>
    <br/>
</div>
</body>
</html>