<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="topbar" th:fragment="topbar" style="display: flex; justify-content: space-between">
    <div style="display: flex;">
        <div>
            <a href="/">Home</a>
            <a href="/products">Products</a>
            <a href="/products/cart">Cart</a>
        </div>
        <div th:if="${user != null}">

            <a th:if="${#strings.equals(user.role, 'ADMIN')}" href="/products/addProduct">Add product</a>
            <a th:if="${#strings.equals(user.role, 'ADMIN')}" href="/products/addType">Add type</a>

        </div>
    </div>
    <div th:if="${user != null}">
        <a th:href="@{'/user/' + ${user.id}}">My profile</a>
        <a href="/logout">Sign out</a>
    </div>
    <div th:unless="${user != null}" style="">
        <a href="/register">Sign up</a>
        <a href ="/login">Sign In</a>
    </div>

</div>
</body>
</html>