<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
</head>
<body>
<div>
    <div>
        <div>
            <form action="#" th:action="@{/login}" th:object="${userLoginData}" method="post">
                <div th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>
                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div>
                    <input type="email" th:field="*{email}" placeholder="Email"
                           th:errorclass="is-invalid">

                    <div >
                        <div>
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="password" th:field="*{password}" placeholder="Password"
                           th:errorclass="is-invalid">
                </div>
                <div>
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
