<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Registration</title>
</head>

<body>
    <div>
        <div>
            <div>
                <p>Register a new account</p>

                <form action="#" th:action="@{/register}" th:object="${userData}" method="post">
                    <div th:if="${#fields.hasErrors('*')}">
                        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                    </div>
                    <div>
                        <input type="text" th:field="*{name}" placeholder="Name"
                               th:errorclass="is-invalid">

                        <div>
                            <div>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="text" th:field="*{surname}" placeholder="Surname"
                               th:errorclass="is-invalid">
                    </div>
                    <div>
                        <input th:type="date" th:pattern="yyyy-mm-dd" th:field="*{date}" placeholder="Birth date"
                               th:errorclass="is-invalid">
                    </div>
                    <div>
                        <input type="email" th:field="*{email}" placeholder="Email"
                               th:errorclass="is-invalid">
                    </div>
                    <div>
                        <input type="password" th:field="*{password}" placeholder="Password"
                               th:errorclass="is-invalid">

                    </div>
                    <div>
                        <input type="password" th:field="*{repeatPassword}" placeholder="Retype password"
                               th:errorclass="is-invalid">
                    </div>
                    <div>
                        <input type="submit">
                    </div>
                </form>
                <a href="/login">Sign In</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
</body>
</html>
