<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style/topbar.css}" rel="stylesheet">

</head>
<body>
    <div th:replace="fragments/fragments :: topbar"></div>
</body>
</html>